* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2b2b3c);
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #222;
    color: white;
}

header h1 {
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00ffcc;
}

#main {
    max-width: 500px;
    margin: 20px auto;
    background: #1f1f2e;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    
    margin-top: 100px;
    margin-bottom: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.container label {
    font-size: 35px;
    opacity: 0.8;
    margin-left: 40%;
    margin-right: 50%;
}

.container input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}

.container button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #4cafef;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.container button:hover {
    background: #369ed9;
}

.filter ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 20px;
}

.filter li {
    flex: 1;
    text-align: center;
    padding: 8px;
    background: #2a2a3d;
    margin: 0 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 13px;
}

.filter li:hover {
    background: #4cafef;
}

.task-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-list li {
    background: #2a2a3d;
    padding: 10px 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}

.task-list li:hover {
    transform: scale(1.02);
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-btn {
    background: red;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 500px) {
    #main {
        margin: 10px;
        padding: 15px;
    }
}
